ProtocolHandler/HandlerConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ProtocolHandler" elementFormDefault="qualified" targetNamespace="urn:ProtocolHandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="appConfiguration" type="tns:ProtocolHandler.AppConfigurationCT" />
	<xs:complexType name="ProtocolHandler.AppConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="handlers" type="tns:ProtocolHandler.HandlerSetCT">
				<xs:annotation>
					<xs:documentation>The Handlers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ProtocolHandler.HandlerCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="application" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Application.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="protocol" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Protocol.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ProtocolHandler.HandlerSetCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="handler" type="tns:ProtocolHandler.HandlerCT">
				<xs:annotation>
					<xs:documentation>The Handler Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
